.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #6946A6;
  border: 1px solid #6946A6;
  color: white;
  padding: 0.25rem 1.5rem;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.form button:hover,
.form button:active {
  background-color: #9977cc;
  border-color: #9977cc;
}